@charset "utf-8";
/* CSS Document */

/* =============================================================================
   Base
   ========================================================================== */

body { }

/* =============================================================================
   Header
   ========================================================================== */

#banner {
	height:110px;	
}

a.brand {
	color:#000;
	text-decoration: none;
	line-height: 40px;
	font-size: 40px;
	padding-top:15px;
}
a.brand:hover{color:#111}

/* =============================================================================
   Content
   ========================================================================== */

#content { }
h1{
	font-size:16px;
	font-weight:bold;
}

/* =============================================================================
   Primary Content
   ========================================================================== */

#main {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;	
}

/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { 
	min-height:140px;
	font-size:16px;
	//width: 220px;
}
#sidebar .daveWell {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	
}
ul.menu,
ul.menu ul {
	list-style:none;	
}
ul.menu a {color:#000;}
ul.menu a:hover {
	text-decoration:none;	
	color:#333;
}
ul.sub-menu {
	margin-left:0px;
	padding-left:13px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
#sidebar .active {font-weight:bold;}
#sidebar .active ul {font-weight:normal;}

/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }
.entry-content img{
	padding-bottom:20px;
}


/* =============================================================================
   Post Grid
   ========================================================================== */


.postColumn{
	float:left;
	position:relative;
}
.post_excerpt_with_thumbnail{
	position:relative;
	overflow:hidden;
}
.post_excerpt_with_thumbnail h4{
	display:block;
	position:absolute;
	visibility:hidden;
	background-color:#EEE;
	bottom:0;
	width:100%;
	height:100%;
	text-align:left;
	padding:30px 20px 30px 20px;
	line-height:15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.post_excerpt_with_thumbnail h3{
	display:block;
	//position:absolute;
	//background-color:#EEE;
	width:100%;
	text-align:left;
	padding:30px 20px 30px 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */

#content-info {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

#content-info p small { font-size: 13px; }



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}