@charset "utf-8";
/* CSS Document */

/* =============================================================================
   Base
   ========================================================================== */

body{ 
	background-color:#000;
	color:#DDD;
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }
a.brand { color:#FFF; }
a.brand:hover{ color:#DDD; }

/* =============================================================================
   Content
   ========================================================================== */

#content { }

/* =============================================================================
   Primary Content
   ========================================================================== */

#main {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

a{ color:#666; }
a:hover{ color:#777 }


em{ color:#666 }

/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }
#sidebar .daveWell {
	border-top-color: #FFF;
	border-bottom-color: #FFF; 
}
ul.menu,
ul.menu ul { }
ul.menu a { color:#DDD; }
ul.menu a:hover { color:#EEE; }
ul.sub-menu {
	border-top-color: #191919;
	border-bottom-color: #191919;
}
#sidebar .active { }
#sidebar .active ul { }

/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { }
.hentry time { }
.hentry p.byline { }
.hentry footer { }

/* =============================================================================
   Post Grid
   ========================================================================== */


.postColumn{ }
.post_excerpt_with_thumbnail{ background-color:#111; }
.post_excerpt_with_thumbnail h4{ 
	background-color:#000; 
	border-bottom-color:#101010;
	border-top-color:#121212;
	color:#FFF;
}
.post_excerpt_with_thumbnail h3{ 
	color:#1f1f1f;
}
.post_excerpt_with_thumbnail h3:hover{ color:#FFF }

/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { }
ol.commentlist img.avatar { }

/* =============================================================================
   Alert
   ========================================================================== */
.alert{
	color:#F90;
	background-color:#211;
	text-shadow:0 1px 0 #CA0000;
}
.alert .close{
	color:#F90;
	text-shadow:0 1px 0 #CA0000;
}
   
/* =============================================================================
   Footer
   ========================================================================== */

#content-info { border-top-color: #EEE; }
#content-info p small { }

/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { }
.alignleft { }
.alignright { }

/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar { }
}