@charset "utf-8";
/* CSS Document */

/* =============================================================================
   Base
   ========================================================================== */

body{ 
	background-color:#FFF;
	color:#333;
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }
a.brand { color:#333; }
a.brand:hover{ color:#111; }

/* =============================================================================
   Content
   ========================================================================== */

#content { }

/*	=============================================================================
   Primary Content
   ========================================================================== */

#main {
	border-top-color: #000;
	//border-bottom-color: #000;
}

a{ color:#999; }
a:hover{ color:#444}

em{ color:#888 }

/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }
#sidebar .daveWell {
	border-top-color: #000;
	border-bottom-color: #000; 
}
ul.menu,
ul.menu ul { }
ul.menu a { color:#333; }
ul.menu a:hover { color:#000; }
ul.sub-menu {
	border-top-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
}
#sidebar .active { }
#sidebar .active ul { }

/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { }
.hentry time { }
.hentry p.byline { }
.hentry footer { }

/* =============================================================================
   Post Grid
   ========================================================================== */


.postColumn{ }
.post_excerpt_with_thumbnail{ background-color:#CCC; }
.post_excerpt_with_thumbnail h4{ 
	background-color:#EEE; 
	border-bottom-color:#DDD;
	border-top-color:#FFF;
}
.post_excerpt_with_thumbnail h3{ }

/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { }
ol.commentlist img.avatar { }

/* =============================================================================
   Footer
   ========================================================================== */

#content-info { border-top-color: #000; }
#content-info p small { }

/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { }
.alignleft { }
.alignright { }

/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar { }
}